* {
  border: none;
  min-height: 0;
  font-family: DejaVu Sans, Material Symbols Rounded;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: #242A2D;
  border-radius: 12px;
  margin: 12px 12px;
  margin-bottom: 0px;
  padding: 0px 4px;
}

#workspaces button,
#window {
  all: initial;
  font-size: 0px;
  color: transparent;
  min-width: 0;
  padding: 4px 8px;
  margin: 8px 6px;
  border-radius: 100px;
  background-color: transparent;
  transition-property: all;
  transition-duration: 0.3s;
  box-shadow: 0px 0px 0px 3px #3A515D inset;
}

#workspaces button.focused {
  background-color: #51E0FF;
  box-shadow: 0px 0px 8px 0px rgba(81, 224, 255, 0.25);
}

#workspaces button:hover {
  box-shadow: 0px 0px 0px 3px #51E0FF inset;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#pulseaudio,
#battery,
#network,
#backlight,
#clock {
  margin-top: 12px;
  padding: 4px 12px;
  background-color: #242A2D;
  transition-property: all;
  transition-duration: 0.3s;
  margin-right: 12px;
  border-radius: 12px;
}

#pulseaudio {
  color: #51E0FF;
}

#battery {
  color: #34ECFF;
}

#network {
  color: #23F2FF;
}

#backlight {
  color: #11F9FF;
}

#clock {
  color: #00FFFF;
}

@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0048;
  color: #181825;
  animation-name: blink;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}