* {
  all: unset;
  color: #ffffff;
  border-radius: 0px 16px 16px 0px;
}

.bar {
  background-color: #07111f;
}

@keyframes activate {
  0% {
    background-color: rgba(177, 221, 241, 0.15);
    padding: 8px;
    margin: 2px 24px;
  }

  100% {
    background-color: #E6F9AF;
    padding: 18px;
    margin: 2px 14px;
  }
}

.workspaces {
  all: unset;
  margin-top: 12px;
}

.workspaces button {
  padding: 8px;
  margin: 2px 24px;
  font-size: 0px;
  border-radius: 100px;
  background-color: rgba(177, 221, 241, 0.15);
  transition-property: all;
  transition-duration: 0.3s;
}

.workspaces .focused {
  background-color: #E6F9AF;
  padding: 18px;
  margin: 2px 14px;
  animation-name: activate;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.workspaces button:hover {
  background-color: rgba(230, 249, 175, 0.5);
  padding: 14px;
  margin: 2px 18px;
}

.clock {
  font-size: 18px;
  margin-bottom: 12px;
}